ANTHROPIC_API_KEY=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
SUPABASE_PSWD=eyRdD6eMKJ2OKuYF
SUPABASE_PUBLIC_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InluZXNwZ2xqdXRyenpyamhwcmt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MTA0NTksImV4cCI6MjA5MDQ4NjQ1OX0.64C6zxTQgIkQtfmaKSyqPWzZ96189Zfk6T2OPSUG-ec
SUPABASE_URL=https://ynespgljutrzpjhprkt.supabase.co